<!DOCTYPE html>
<html>
<head>
  <title>RecipeMe</title>
  <meta property="og:image" content="<%= image_url('linkedin-pic-recipe-me.jpg') %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container flash">
	<% if flash[:error] %>
		<div class="alert alert-danger">
			<%= flash[:error] %>
		</div>
	<% elsif flash.now[:notice] %>
		<div class="alert alert-success">
			<%= flash.now[:notice] %>
		</div>
	<% elsif flash[:unverified] %>
		<div class="alert alert-warning">
			<%= flash[:unverified] %>
		</div>
	<% end %>
</div>
<!-- Ajax Loading Spinner-->
<div id="ajaxSpinnerContainer" class='centered'>
	<%= image_tag 'ajax-loader.gif', class: 'ajax-spinner', id: 'ajaxSpinnerImage', title: 'working...' %>

</div>
<div id="content">
<%= yield %>
</div>
</body>
</html>
